<div class="modal" id="modal-call-in-progress" style="width: 300px; height: 600px;margin-left: 560px;">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <div id="callDuration"></div>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="modal-call-in-progress-body" style="height: 300px;">
                <div class="mx-auto">
                    <h4 id="txtPhoneNumber" style="text-align: center;"></h4>
                </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer mx-auto">
                <button type="button" class="btn btn btn-default btn-circle btnHangUp">
                    <i class="fa fa-phone fa-1x fa-rotate-icon" aria-hidden="true" style="color: red;"></i>
                </button>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>