<div class="modal" id="modal-incomming-call" style="width: 300px; height: 600px;margin-left: 560px;">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header mx-auto">
                <h4 id="callerNumber">+1230090003030</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="modal-incomming-call-body" style="height: 300px;">
            </div>


            <!-- Modal Footer -->
            <div class="modal-footer mx-auto">
                <button class="btnAcceptCall btn btn-default btn-circle" type="button">
                    <i class="fa fa-phone fa-flip-horizontal  fa-1x " aria-hidden="true" style="color: green;"></i>
                </button>
                <button type="button" class="btn btn-default btn-circle btnReject">
                    <i class="fa fa-phone fa-1x fa-rotate-icon" aria-hidden="true" style="color: red;"></i>
                </button>
            </div>

            <div>
            </div>
        </div>
    </div>
</div>